

<nav class="navbar bg-primary navbar-fixed-top">
  <div class="container-fluid ">


    <a [routerLink]="['/profile']" class="navbar-text pull-left"><span class="glyphicon glyphicon-menu-left css-text-white "></span></a>

    <a class="navbar-brand css-text-white " routerLink="./">Websites</a>
    <!--<a class="navbar-brand css-text-white " [routerLink]="['/profile']">Websites</a>-->
    <!--[routerLink]="['/profile']"-->


    <a routerLink="new" class="pull-right navbar-text" ><span class="glyphicon glyphicon-plus css-text-white"></span></a>


  </div>
</nav>




<div class="container">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless" *ngFor="let website of websiteList">
      <a [routerLink]="website._id" ><span class="glyphicon glyphicon-cog pull-right"></span></a>
      <a (click)="clickPage(website)">{{website.name}}</a>
    </li>
  </ul>
</div>




<nav class="navbar bg-primary navbar-fixed-bottom">
  <div class="container-fluid ">

    <a [routerLink]="['/profile']" class="navbar-text pull-right" ><span class="glyphicon glyphicon-user css-text-white"></span></a>

  </div>
</nav>
