
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid ">


    <a [routerLink]="['/user', userId, 'website']" class="navbar-text pull-left"><span class="glyphicon glyphicon-menu-left"></span></a>

    <a class="navbar-brand css-text-white " routerLink="./">Pages</a>

    <a routerLink="new" class="pull-right navbar-text" ><span class="glyphicon glyphicon-plus"></span></a>


  </div>
</nav>

<div class="container">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless" *ngFor="let page of pages">
      <a [routerLink]="page._id" ><span class="glyphicon glyphicon-cog pull-right"></span></a>
      <a [routerLink]="['/user',userId,'website',webId,'page',page._id,'widget']">{{page.name}}</a>
    </li>
  </ul>
</div>




<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid ">

    <a [routerLink]="['/user',userId]" class="navbar-text pull-right" ><span class="glyphicon glyphicon-user"></span></a>

  </div>
</nav>
