<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">

  <meta charset="UTF-8">
  <title>Index</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="../css/style.css" rel="stylesheet"/>
  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->
</head>

<body>

<nav class="navbar bg-primary navbar-fixed-top">
  <div class="container-fluid ">

      <a class="navbar-brand css-text-white" href="#">Profile</a>
    <a href="profile.html" class="navbar-text pull-right"><span class="glyphicon glyphicon-ok css-text-white"></span></a>

  </div>
</nav>


<div class="container">
  <!--<h1>Profile</h1>-->
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" class="form-control" placeholder="Jane">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="password" id="email" class="form-control" placeholder="jane@gmail.com">
  </div>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="password" id="firstName" class="form-control" placeholder="Jane">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="password" id="lastName" class="form-control" placeholder="Potter">
  </div>
  <div class="form-group">
    <a class="btn btn-primary form-control" href="../website/website-list.html">Website</a>
  </div>
  <div class="form-group">
    <a class="btn btn-danger form-control" href="login.html">Log out</a>
  </div>


</div>


<nav class="navbar bg-primary navbar-fixed-bottom">
  <div class="container-fluid ">

    <a href="#" class="navbar-text pull-right"><span class="glyphicon glyphicon-user css-text-white"></span></a>

  </div>
</nav>

</body>

</html>
