<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid ">


    <a [routerLink]="['../']" class="navbar-text pull-left"><span class="glyphicon glyphicon-menu-left"></span></a>


    <a class="navbar-brand " [routerLink]="['./']">Widgets New</a>

    <!--<a (click)="save()" class="navbar-text pull-right"><span class="glyphicon glyphicon-ok"></span></a>-->
    <!--<a (click)="save()" class=" pull-right navbar-text" ><span class="glyphicon glyphicon-ok"></span></a>-->
  </div>
</nav>

<div class="container">
  <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">

    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" placeholder="name" id="name" ngModel name="widgetName">
    </div>

    <div class="form-group">
    <label for="file">Upload</label>
    <input name="myFile" class="form-control" type="file"  id="file">
    </div>

    <!--<div class="form-group">-->
      <!--<label for="file">Upload</label>-->
      <!--<input  name="myFile"   type="file" class="form-control" id="file"/>-->
    <!--</div>-->

    <div class="form-group">
    <label for="text">Text</label>
    <input name ="text" class="form-control" type="text" placeholder="text"  id="text">
    </div>

    <div class="form-group">
    <label for="width">Width</label>
    <input name ="width" class="form-control" type="text" placeholder="width" id="width">
    </div>

    <!--<input  name="widgetId" value="{{widgetId}}"   style="display: none"/>-->
    <input  name="websiteId" value="{{websiteId}}"   style="display: none"/>
    <input  name="pageId" value="{{pageId}}"   style="display: none"/>
    <input  name="userId" value="{{userId}}"   style="display: none"/>

    <div class="form-group">
      <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
    <!--<a class="btn btn-primary form-control">Upload</a>-->
    </div>
    <div class="form-group">
    <a class="btn btn-danger form-control" [routerLink]="['../']">Cancel</a>
    </div>




  </form>
</div>

<!--<div class="container">-->
  <!--<form  #widgetForm="ngForm">-->
    <!--<div class="form-group">-->
      <!--<label for="name">Name</label>-->
      <!--<input class="form-control" type="text" placeholder="name (but in this project, it will never be store)" id="name" >-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="text">Text</label>-->
      <!--<input class="form-control" type="text" placeholder="text" ngModel name="widgetText" id="text">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="url">URL</label>-->
      <!--<input class="form-control" type="text" placeholder="url" ngModel name="url" id="url">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="width">Width</label>-->
      <!--<input class="form-control" type="text" placeholder="width" ngModel name="width"  id="width">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<label for="file">Upload</label>-->
      <!--<input class="form-control" type="file"  id="file">-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<a class="btn btn-primary form-control">Upload</a>-->
    <!--</div>-->
    <!--<div class="form-group">-->
      <!--<a class="btn btn-danger form-control" [routerLink]="['../']">Cancel</a>-->
    <!--</div>-->
  <!--</form>-->

<!--</div>-->



<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid ">

    <a [routerLink]="['/user',userId]" class="navbar-text pull-right"><span class="glyphicon glyphicon-user"></span></a>

  </div>
</nav>
