<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid ">


    <a [routerLink]="['/user',userId,'website',webId,'page']" class="navbar-text pull-left"><span class="glyphicon glyphicon-menu-left"></span></a>


    <a class="navbar-brand " [routerLink]="['./']">Widgets</a>

    <a [routerLink]="['/user',userId,'website',webId,'page',pageId,'widget','new']" class="navbar-text pull-right"><span class="glyphicon glyphicon-plus"></span></a>
  </div>
</nav>

<div>
  <div class="pull-right">
    <a><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
    <a [routerLink]="widget._id"><span class="glyphicon glyphicon-cog"></span></a>
  </div>

  <!--<h1>{{widget.text}}</h1>-->

    <!--<div *ngIf="widget.formatted">-->
      <!--<quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>-->
    <!--</div>-->

  <!--<input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"-->
         <!--placeholder="{{widget.placeholder}}" class="form-control"/>-->

  <!--<textarea *ngIf="!widget.formatted && (widget.rows > 1)"-->
            <!--rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"-->
            <!--class="form-control">{{widget.text}}</textarea>-->

  <div *ngIf="widget.formatted">
    <!--<h1>{{widget.formatted}}</h1>-->
    <!--<h1>????hehrhehrehr</h1>-->
    <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
  </div>
  <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
         placeholder="{{widget.placeholder}}" [(ngModel)]="widget.text"  class="form-control"/>
  <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
            rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
            class="form-control" [(ngModel)]="widget.text"></textarea>


  <!--<p>{{widget.text}}</p>-->
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid ">

    <a [routerLink]="['/user',userId]" class="navbar-text pull-right"><span class="glyphicon glyphicon-user"></span></a>

  </div>
</nav>

