<nav class="navbar bg-primary navbar-fixed-top">
  <div class="container-fluid ">

    <a class="navbar-brand css-text-white" routerLink="">Profile</a>
    <a (click)="save()" class="btn-primary navbar-text pull-right"><span class="glyphicon glyphicon-ok css-text-white"></span></a>

  </div>
</nav>




<div class="container">
  <form  #profileForm="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control"  name="userName" [(ngModel)]="user.userName" required id="username">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" required email id="email" [(ngModel)]="user.email">
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName" required id="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName" required id="lastName">
    </div>

    <div class="form-group">
      <!--<button class="btn btn-primary" (click)="toWebsite()">Website</button>-->
      <button class="btn btn-primary form-control" (click)="toWebsite()">Website</button>
      <!--routerLink is already a relative rout-->
    </div>

    <div class="form-group">
      <!--<button class="btn btn-danger form-control" routerLink="/login">LogOut</button>-->
      <button class="btn btn-danger form-control" (click)="logout()">LogOut</button>
    </div>

    <div class="form-group">
      <button class="btn btn-danger form-control" (click)="delete()">Delete</button>
    </div>

  </form>
</div>





<nav class="navbar bg-primary navbar-fixed-bottom">
  <div class="container-fluid ">

    <a [routerLink]="['/user',id]" class="navbar-text pull-right"><span class="glyphicon glyphicon-user css-text-white"></span></a>

  </div>
</nav>
