
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid ">


    <a [routerLink]="['../']" class="navbar-text pull-left"><span class="glyphicon glyphicon-menu-left"></span></a>


    <a class="navbar-brand " [routerLink]="['./']">Choose Widgets</a>

  </div>
</nav>


<div class="container-fluid">


  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless" *ngFor="let widget of widgetsChooser">
      <a [routerLink]="[widget]">{{widget}}</a>
    </li>
  </ul>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid ">

    <a [routerLink]="['/user',userId]" class="navbar-text pull-right"><span class="glyphicon glyphicon-user"></span></a>

  </div>
</nav>
