

body{
  padding-top: 70px;
  padding-bottom: 70px;

  height: 100%;
}

.cl-list-item-borderless {
  border-top: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 0 none;
}

.div-border{
  border-left: 1px solid gainsboro;
  height:1000px;
}


.cl-widget-images{
  display: inline;
  width: 85%;
  z-index: 100;
  position: relative;
}


div {

  overflow: scroll;
}

.nav-padding{
  padding-left:10px;
  padding-right:10px;
}


.css-text-white{
  color: #fff;
}

.cl-text-black{
  color: #000000;
}

.cl-text-bold{
  font-weight: bold;
}

.cl-icon-padding {
  padding-left: 10px;
  padding-right: 10px;
}

a:hover{
  text-decoration:none;
}

.container-padding{
  padding-top:5%;
  padding-bottom: 10%;
}

text{
  
}
