



<div [ngSwitch]="widget.type">
  <div *ngSwitchCase="'HEADING'"><app-widget-header [widget]="widget"></app-widget-header></div>

  <div *ngSwitchCase="'IMAGE'"><app-widget-image [widget]="widget"></app-widget-image></div>

  <div *ngSwitchCase="'YOUTUBE'"><app-widget-youtube [widget]="widget"></app-widget-youtube></div>

  <div *ngSwitchCase="'HTML'"><app-widget-html [widget]="widget"></app-widget-html></div>

  <div *ngSwitchCase="'TEXT'"><app-widget-text [widget]="widget"></app-widget-text></div>

  <!--<div *ngSwitchCase="'HTML'" [innerHTML]="widget.text"></div>-->

</div>


