<div class="container">
  <form (ngSubmit)="login()" #loginForm="ngForm">

    <div class="form-group alert alert-danger" *ngIf="!matched && loginForm.touched">
      <span>Username and password unmatched</span>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" ngModel name="userName" required #userName="ngModel">
        <span *ngIf="!userName.valid && userName.touched" class="help-block">
            Please enter an user name!
        </span>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" ngModel name="password" required #password="ngModel">

        <span *ngIf="!password.valid && password.touched" class="help-block">
            Please enter a password!
        </span>
    </div>


    <div class="form-group">
        <button class="btn btn-primary form-control" type="submit" [disabled]="!loginForm.valid">Login</button>
    </div>

    <div class="form-group">
        <button class="btn btn-primary form-control" type="button" routerLink="/register">Register</button>
    </div>
  </form>
</div>
