<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid ">


    <a [routerLink]="['../']" class="navbar-text pull-left"><span class="glyphicon glyphicon-menu-left"></span></a>


    <a class="navbar-brand " [routerLink]="['./']">Widgets Edit</a>

    <!--<a (click)="save()" class="navbar-text pull-right"><span class="glyphicon glyphicon-ok"></span></a>-->
    <a (click)="save()" class=" pull-right navbar-text" ><span class="glyphicon glyphicon-ok"></span></a>
  </div>
</nav>

<div class="container">
  <form  #widgetForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" placeholder="name (but in this project, it will never be store)" id="name" >
    </div>
    <div class="form-group">
      <label for="text">Text</label>
      <input class="form-control" type="text" [(ngModel)]="widget.text" name="widgetText" id="text">
    </div>
    <div class="form-group">
      <label for="url">URL</label>
      <input class="form-control" type="text" [(ngModel)]="widget.url" name="url" id="url">
    </div>
    <div class="form-group">
      <label for="width">Width</label>
      <input class="form-control" type="text" [(ngModel)]="widget.width" name="width"  id="width">
    </div>
    <div class="form-group">
      <label for="file">Upload</label>
      <input class="form-control" type="file"  id="file">
    </div>
    <div class="form-group">
      <a class="btn btn-primary form-control">Upload</a>
    </div>
    <div class="form-group">
      <button class="btn btn-danger form-control" type="button" (click)="deleteWidget()">Delete</button>
    </div>
  </form>

</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid ">

    <a [routerLink]="['/user',userId]" class="navbar-text pull-right"><span class="glyphicon glyphicon-user"></span></a>

  </div>
</nav>
