
<div class="container-fluid">


  <div class="col-xs-4 hidden-xs">
    <div class="container-fluid">
      <app-website-list></app-website-list>
    </div>
  </div>

  <div class="col-sm-8 div-border">
    <div class="container-fluid">
      <nav class="navbar bg-primary navbar-fixed-top">
        <div class="row">

          <div class="col-xs-4 hidden-xs">
            <div class="container-fluid">
              <a routerLink="../" class="navbar-text pull-left"><span class="glyphicon glyphicon-menu-left css-text-white "></span></a>
              <a class="navbar-brand css-text-white " routerLink="./">Websites</a>
              <a routerLink="new" class="pull-right navbar-text" ><span class="glyphicon glyphicon-plus css-text-white"></span></a>
            </div>
          </div>

          <div class="col-sm-8">
            <div class="container-fluid">
              <a class="navbar-brand css-text-white " routerLink="./">New Website</a>
              <button (click)="editWeb()" class="btn-primary pull-right navbar-text" ><span class="glyphicon glyphicon-ok css-text-white"></span></button>
            </div>

          </div>
        </div>

      </nav>


        <form (ngSubmit)="deleteWeb()" #webEditForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" [(ngModel)]="website.name" name="webName" id="name">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="5" [(ngModel)]="website.description" name="description"></textarea>
          </div>

          <div class="form-group">
            <button class="btn btn-danger form-control" type="submit">Delete</button>
          </div>

        </form>

    </div>
  </div>


</div>


<nav class="navbar bg-primary navbar-fixed-bottom">
  <div class="container-fluid ">

    <a [routerLink]="['/profile']" class="navbar-text pull-right" ><span class="glyphicon glyphicon-user css-text-white"></span></a>

  </div>
</nav>






